.signUp
  .signUp__wrap
    %section.signUp__wrap__brand
      .signUp__wrap__brand--inner
        .signUp__wrap__brand--inner-img
          = image_tag "https://product.pr-table.com/upimgs/lp_images/pcsp.png", class: "signUp-topImg"
        .signUp__wrap__brand--inner-copy
          %h1 ストーリーで共感を生む
          %p 新しいPRのソリューション
          .signUp__wrap__brand--inner-copy-btn
            %a.signUpTopBtn{:href => "#form"} 資料請求
    %section.signUp__wrap__firstContents
      .signUp__wrap__firstContents--inner.signUp-innerDes
        .signUp__wrap__firstContents--inner-title
          %h2.middleHeadline 多くの地方・中小企業から上場企業に選ばれています
          %p.smallHeadline ブランドを社内外に発信するためにPR Tableが活用されています
        .signUp__wrap__firstContents--inner-companyList
          %figure
            %img
              = image_tag "https://product.pr-table.com/upimgs/lp_images/logos.png?eeerere"
    %section.signUp__wrap__secondContents
      .signUp__wrap__secondContents--inner.signUp-innerDes
        .signUp__wrap__secondContents--inner-title
          %h2.middleHeadline ストーリーテリングの時代
          %p.smallHeadline 生活者は、企業自らが語るストーリーを求めています
        .signUp__wrap__secondContents--inner-content
          .signUp__wrap__secondContents--inner-content-img
            %img
              = image_tag "https://product.pr-table.com/upimgs/lp_images/graph.png"
          .signUp__wrap__secondContents--inner-content-des
            %figure
              %p.signUp-p 「企業のウェブサイトに訪れた際に、詳しくサイトを見てみたいと思わせる要素」という質問に対して、最も多く回答されたのは「開発秘話・背景などストーリー性があるコンテンツが掲載されている」です（※）。これにより、企業自らが会社・製品のストーリーを語る必要が迫られているといえます。
              %p.signUp-p{:style => "margin-top: 2em;"} ※ 企業広報戦略&落語研究会（電通PR内）「第1回企業やら魅力度調査」による（対象：生活者10,000人／2016年）
    %section.signUp__wrap__thirdContents
      .signUp__wrap__thirdContents--inner.signUp-innerDes
        .signUp__wrap__thirdContents--inner-pointWrap
          .signUp__wrap__thirdContents--inner-pointWrap-left
            .signUp__wrap__thirdContents--inner-pointWrap-left-img
              %img
                = image_tag "https://product.pr-table.com/upimgs/lp_images/demo01.png"
            .signUp__wrap__thirdContents--inner-pointWrap-left-des
              %h3.middleHeadline PRのプロが行き着いたサービス
              %p.signUp-p プレスリリースやメディアリレーションズだけがPR・広報の手法ではありません。事業会社やPR会社でPR・広報を経験したメンバーが運営する「PR Table」は、ストーリーを発信することで、ステークホルダー（※）と良好な関係を構築するためのサービスです。
              %p.signUp-p ※ 顧客・ユーザー、株主・投資家、学生やキャリア転職をしたい求職者、社員・従業員など
          .signUp__wrap__thirdContents--inner-pointWrap-right
            .signUp__wrap__thirdContents--inner-pointWrap-right-wrap
              .signUp__wrap__thirdContents--inner-pointWrap-right-wrap-img
                %img
                  = image_tag "https://product.pr-table.com/upimgs/lp_images/demo02.png"
              .signUp__wrap__thirdContents--inner-pointWrap-right-wrap-des
                %h3.middleHeadline 1ページで魅せる会社のカルチャー・文化
                %p.signUp-p 「PR Table」ではストーリーだけではなく、会社の想い出がつまったアルバムや、ブランドの歴史をヒストリー形式で効果的に伝えることができる機能を用意しています。また、「どう伝えたらいいか？」にお困りの際はPRコンサルタントがサポートいたします。
          .signUp__wrap__thirdContents--inner-pointWrap-left
            .signUp__wrap__thirdContents--inner-pointWrap-left-img
              %img
                = image_tag "https://product.pr-table.com/upimgs/lp_images/demo03.png"
            .signUp__wrap__thirdContents--inner-pointWrap-left-des
              %h3.middleHeadline 共感によるマッチングが生まれる場所
              %p.signUp-p 企業ページやストーリーには「採用エントリー」「事業紹介」「取材依頼」を促進するボタンを設置できます。ストーリーを通じて会社のブランドを伝えることで、深い理解や共感を得ることができ、お互いミスマッチのない関係を構築するきっかけとなります。
    %section.signUp__wrap__fourthContents
      .signUp__wrap__fourthContents--inner.signUp-innerDes
        .signUp__wrap__fourthContents--inner-title
          %h2.middleHeadline PR Tableの主な機能・サービス
          %p.smallHeadline 継続的にストーリーテリングを行うための仕組みを開発しています
        .signUp__wrap__fourthContents--inner-function
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-compose
            %p ストーリー作成
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.fa.fa-bar-chart{"aria-hidden" => "true"}
            %p アナリティクス
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-calendar
            %p 沿革作成
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-images
            %p アルバム管理
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-iphone
            %p スマホ対応
        .signUp__wrap__fourthContents--inner-function
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-person-add
            %p チーム運用
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-document
            %p
              プレスリリース
              %br/
              メディア掲載管理
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.fa.fa-life-ring{"aria-hidden" => "true"}
            %p
              電話・チャット
              %br/
              メールサポート
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-person-stalker
            %p PRコンサルティング
          .signUp__wrap__fourthContents--inner-function-list
            .signUp__wrap__fourthContents--inner-function-list-icon
              %i.ion-plus
            %p 新機能を順次追加
          %link{href: "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel: "stylesheet"}
    %section.signUp__wrap__fifthContents
      .signUp__wrap__fifthContents--inner.signUp-innerDes
        .signUp__wrap__fifthContents--inner-title
          %h2.middleHeadline サクセスストーリー
          %p.signUp-p 採用広報、インターナルコミュニケーションで効果が出ています
        .signUp__wrap__fifthContents--inner-success
          - 1.upto(3) do |i|
            .signUp__wrap__fifthContents--inner-success-list
              .signUp__wrap__fifthContents--inner-success-list-topBlock
                .signUp__wrap__fifthContents--inner-success-list-topBlock-img{:style => "background-image:url(https://t.pimg.jp/021/543/870/1/21543870.jpg);"}
                .signUp__wrap__fifthContents--inner-success-list-topBlock-info
                  %strong ギークス株式会社
                  %p 経営企画室 広報　松井瑞恵 様
              .signUp__wrap__fifthContents--inner-success-list-des 経営陣の想いや社員それぞれが主役となり活躍していることをストーリーとして言語化したことで、社員の共感を生むことができ、自然とSNSや社外へ向けたシェア・伝播を自然に行うことが定着してきました。
              .signUp__wrap__fifthContents--inner-success-list-more
                %a.signUpMiddleBtn{:href => ""} ストーリーをみる
    %section#form.signUp__wrap__sixthContents
      .signUp__wrap__sixthContents--inner.signUp-innerDes
        .signUp__wrap__sixthContents--inner-content
          %h2.middleHeadline ストーリーテリングをはじめてみませんか？
          %p.smallHeadline 月額4万円から導入できるリーズナブルなプランをご用意しています
          .signUp__wrap__sixthContents--inner-content-form
            .signUp__wrap__sixthContents--inner-content-form-run
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!
                .signUpField
                  .signUpFieldLabel
                    = f.label :name, "会社名"
                    %span 必須
                  .signUpFieldInput
                    = f.text_field :name, class: 'signUpFieldInput-inner'
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "部署・役職"
                /     %span.span2 不要
                /   .signUpFieldInput
                /     .signUpFieldInput-inner.inner2
                .signUpField
                  .signUpFieldLabel
                    = f.label :name, "お名前"
                    %span 必須
                  .signUpFieldInput
                    = f.text_field :name, class: 'signUpFieldInput-inner'
                    / %input{"data-formrun-class-if-error" => "has-danger", "data-formrun-required" => "", :name => "お名前", :type => "text"}/
                    / .signUp__wrap__sixthContents--error{"data-formrun-show-if-error" => "お名前"} お名前を入力してください
                .signUpField
                  .signUpFieldLabel
                    = f.label :email, "メールアドレス"
                    %span 必須
                  .signUpFieldInput
                    = f.email_field :email, autofocus: true, class: 'signUpFieldInput-inner'
                .signUpField
                  .signUpFieldLabel
                    = f.label :password, "パスワード"
                    %span 必須
                  .signUpFieldInput
                    = f.password_field :password, autocomplete: "off", class: 'signUpFieldInput-inner'
                .signUpField
                  .signUpFieldLabel
                    = f.label :password_confirmation, "パスワード(再確認)"
                    %span 必須
                  .signUpFieldInput
                    = f.password_field :password_confirmation, autocomplete: "off", class: 'signUpFieldInput-inner'
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "電話番号"
                /     %span.span2 不要
                /   .signUpFieldInput
                /     .signUpFieldInput-inner.inner2
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "会社URL"
                /   .signUpFieldInput.inner2
                /     = f.text_field :name, class: 'signUpFieldInput-inner'
                /     / %input{:name => "会社URL", :type => "text"}/
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "お問い合わせ内容"
                /     %span.span2 不要
                /   .signUpFieldWrap
                /     .signUpFieldCheckboxes
                /       .signUpFieldCheckbox
                /         / %input#inqtype{"data-formrun-required" => "", :name => "お問い合わせ内容[]", :type => "checkbox", :value => "サービス詳細"}/
                /         = f.label :name, "サービス詳細", class: "checkboxInner"
                /       .signUpFieldCheckbox
                /         / %input#inqtype{"data-formrun-required" => "", :name => "お問い合わせ内容[]", :type => "checkbox", :value => "導入事例"}/
                /         = f.label :name, "導入事例", class: "checkboxInner"
                /       .signUpFieldCheckbox.mt
                /         / %input#inqtype{"data-formrun-required" => "", :name => "お問い合わせ内容[]", :type => "checkbox", :value => "サービス利用料"}/
                /         = f.label :name, "サービス利用料", class: "checkboxInner"
                /       .signUpFieldCheckbox.mt
                /         / %input#inqtype{"data-formrun-required" => "", :name => "お問い合わせ内容[]", :type => "checkbox", :value => "その他"}/
                /         = f.label :name, "その他", class: "checkboxInner"
                /     / .signUp__wrap__sixthContents--wrap-form-error{"data-formrun-show-if-error" => "お問い合わせ内容[]"} お問い合わせ内容を選択してください
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "課題"
                /     %span 必須
                /   .signUpFieldInput
                /     %select{"data-formrun-class-if-error" => "has-danger", "data-formrun-required" => "", :name => "課題"}
                /       %option{value: ""} 選択してください
                /       %option{value: "企業広報"} 企業広報
                /       %option{value: "採用広報"} 採用広報
                /       %option{value: "社内コミュニケーション"} 社内コミュニケーション
                /       %option{value: "投資家向け広報"} 投資家向け広報
                /       %option{value: "CSR"} CSR
                /     / #signUpError{"data-formrun-show-if-error" => "課題"} 課題を選択してください
                / .signUpField
                /   .signUpFieldLabel
                /     = f.label :name, "備考"
                /   .signUpFieldInput
                /     %textarea{:name => "備考"}
                = f.submit "送信", class: "signUpBottomBtn"
