= render 'layouts/header'
.container.single-window
  %section.single-form
    %h1 ユーザー情報の編集
    = form_for(current_user) do |f|
      .field-input
        = f.text_field :name, autofocus: true, placeholder: '名前', class: 'field-content'
      .field-input
        = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'field-content'
      .field-input
        = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'field-content'
      .actions
        = f.submit "更新", class: 'field-btn'
  .another-field-link
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  %br/
  .another-field-link
    = link_to "トップページに戻る", :root
= render 'layouts/footer-nav'
= render 'layouts/footer-icons'
