.likeLink{id: "like-link-#{story.id}"}
  - if user_signed_in?
    - if current_user.likes.find_by(story_id: story.id)
      = button_to company_story_like_path(@company.id, story.id, likes), method: :delete, id: "like-button", remote: true do
        %a
          %i.fa.fa-heart
          %span.likesCount
            = story.likes.count
    - else
      = button_to company_story_likes_path(company.id, story.id), id: "like-button", remote: true do
        %a
          %i.fa.fa-heart-o
          %span.likesCount
            = story.likes.count
  - else
    %a.notSignIn
      %i.fa.fa-heart-o
      %span
        = story.likes.count
