= render 'layouts/header'
.container.single-window
  %section.single-form
    %h1 会社にログイン/編集
    = form_for @company do |f|
      .field-input
        = f.text_field :name, autofocus: true, placeholder: '会社名', class: 'field-content'
      .actions
        = f.submit "ログイン/編集", class: 'field-btn'
  .another-field-link
    = link_to "トップページに戻る", :root
= render 'layouts/footer-nav'
= render 'layouts/footer-icons'
