.storyTell
  %section.storyTell__form
    %h1 ストーリーを作成
    = form_for [@company, @story] do |f|
      - if @story.errors.any?
        #error_explanation
          %h2
            #{@story.errors.count}件のエラーが発生しました。
          %ul
            - @story.errors.full_messages.each do |story|
              %li= story
      .storyTell__form--input
        .storyTell__form--input-heading
          = f.label :title, "タイトル"
        = f.text_field :title, class: "storyTell__form--input-middleField"
      .storyTell__form--input
        .storyTell__form--input-heading
          = f.label :body, "ストーリー"
        = f.cktext_area :body, class: "storyTell__form--input-largeField", id: "editor"
      .storyTell__form--input
        .storyTell__form--input-heading
          = f.label :image do
            = f.file_field :image, class: "storyTell__form--input-picture", style: "display: none;"
            %i.fa.fa-picture-o
      .storyTell__form--input
        .storyTell__form--input-heading.topicLabel
          = f.label :tag_list, "トピック"
        .storyTell__form--input-heading.topicLabel2
          = f.label :tag_list, "（※複数登録される場合は , で区切って入力してください）"
        = text_field_tag 'story[tag_list]', @story.tag_list.join(','), class: "storyTell__form--input-middleField"
      = f.submit "投稿", class: "storyTell__form--btn"
  .another-field-link
    = link_to "会社情報を編集", edit_company_path(@company)
