%body.top
  #wrap.gray
    = render 'layouts/header'
    %section#p-stories
      .picup-2stories
        .story
          %a
            %p.img
              = image_tag "https://www.pr-table.com/upimgs/story_images/3431/large/b0084ad77a703a89dd8bbdc488e57a5f2dfc3bdb.jpg?1498794653", class: "top_img"
              %span.story-left-name.top-company_name 株式会社ベーシック
              %strong.story-left-title.top-title「何をするか」より「何のためにやるか」。変化し続ける中で、変わらない軸がある
        .story
          %a
            %p.img
              = image_tag "https://www.pr-table.com/upimgs/story_images/3238/large/d06db80f88db01b294fd2759ef368b3458725d9b.jpg?1496725560", class: "top_img"
              %span.story-right-name.top-company_name 龍宮株式会社
              %strong.story-right-title.top-title 時代の変化、幾度の事業転換……それでも70年の歴史と技術が“夢の寝具”を完成させた
    .container
      %main#left-contents
        %section.stories
          - 1.upto(15) do |i|
            .left-contents__block
              %a{:href => ""}
                .hoverground
                  = image_tag "https://www.pr-table.com/upimgs/story_images/3566/large/d846bd9d8bed3525762c6026ffefbcb1f32de77b.jpg?1500895955", class: "middle-img"
                  %strong 前例のない「カンカンの活用」の先には、ワクワクする未来が待っている--Coming soon--
                  %span Cancan株式会社
      #side-contents
        %section.side-stories
          %h2 注目ストーリー
          .side-wrap
            - 1.upto(3) do |i|
              %article
                %a{:href => ""}
                  .hoverground
                    = image_tag "https://www.pr-table.com/upimgs/story_images/1890/large/d527383b6e118ca7a377701e9312f6dd297e8210.jpg?1479378451", class: "side-img"
                    .story-info
                      %strong カンカンカンカン晩餐会！焼肉焼いても家焼くな！！
                      .company-name 日本食研 Network Lab
        %section.side-tags
          %h2 おすすめトピック
          .side-wrap
            %ul
              - 1.upto(10) do |i|
                %li
                  %a{:href => ""} スタートアップ
                %li
                  %a{:href => ""} 晩餐会
          .more
            %a{:href => ""}
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
              トピック一覧
        %section.side-companylist
          %h2 ストーリー掲載企業
          .side-wrap
            - 1.upto(5) do |i|
              %a{:href => ""}
                %figure
                  .img
                    %img{:alt => "", :src => ""}/
                  %figcaption 株式会社ネオキャリア
          .more
            %a{:href => ""}
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}>
              ストーリー掲載企業一覧
        %section.banner
          %figure
            %a{:href => ""}
              %img{:src => ""}/
    = render 'layouts/footer-nav'
    = render 'layouts/footer-icons'
