%header#header
  #global-header
    #logo
      %a{href: "/"}
        = image_tag "https://www.pr-table.com/assets/logo.svg", alt: "PR Table"
    %nav#g-nav
      %ul
        %li
          %a{:href => ""} ストーリー
        %li
          %a{:href => ""} 企業
        %li
          %a#topic-trigger{:href => ""} トピック
        %li
          %a{:href => "", :target => "_blank"} PR Tableとは？
    .buttons
      #create
        - unless user_signed_in?
          = link_to ""
        - else
          - if current_user.company_id == nil
            = link_to "会社を登録", new_company_path, class: 'btn'
          - else
            = link_to "ストーリー作成", new_company_story_path(current_user.company_id), class: 'btn'
      #login
        - unless user_signed_in?
          = link_to "ログイン / 新規登録", new_user_session_path, class: 'btn'
        - else
          = link_to "アカウント編集/ログアウト", edit_user_registration_url(current_user), class: 'btn'
      #search
        = render 'layouts/searchForm'
.top__header-tags
  %ul
    %li
      %a{:href => ""}
    /
      <li><a href="/tag/research-development">#研究開発</a></li>
      <li><a href="/tag/member">#社員・職員</a></li>
      <li><a href="/tag/ipo">#IPO</a></li>
      <li><a href="/tag/csr">#CSR・社会貢献活動</a></li>
      <li><a href="/tag/internet-of-things">#IoT</a></li>
      <li><a href="/tag/kumamoto">#熊本</a></li>
      <li><a href="/tag/brother">#兄弟</a></li>
      <li><a href="/tag/tokyo-olympic">#東京五輪2020</a></li>

